/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../imagen/somo_coso.jpg'); /* Mantenemos el fondo de imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    /* Estilos para el banner */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.thumbnail:hover img {
    transform: scale(1.1);
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
