/* Estilos generales para móviles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #333;
}

header nav ul li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #444;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    background-color: #575757;
}

.video-container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 20px 0;
}

.video-container iframe {
    width: 100%;
    height: 300px;
}

.boton-flotante, .boton-qr-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0078d7;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-flotante img, .bot
